# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Various other standard files
*~

# Autoconf
Makefile
Makefile.in
config.status
config.nice
config.log
libtool
.deps/
.dirstamp
aclocal.m4
autom4te.cache
configure
TAGS

build/_aux/
build/libtool.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4

src/include/stamp-h1
src/include/key_config.h

cmd/key-cmd
